:root{
    --checkbox-background-color:#00AE1C;
    --checkbox-border-color:#323749;
    --checkbox-color:#ffffff;
    --label-color:#323749;
}

*{
    padding: 0;
    margin: 0;
    font-family: Inter;
}

.checkbox-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width:  .75rem;
    height: .75rem;
    top: 0;
    left: 0;
    border: 2px solid var(--checkbox-border-color);
    border-radius: 2px;
    background: var(--checkbox-color);
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: .25rem;
    height: .4rem; 
    border: solid var(--checkbox-color);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute; 
    top: .2rem;
    left: .35rem;
}

input[type="checkbox"]:checked:before {
    background-color: var(--checkbox-background-color);
    border: 2px solid var(--checkbox-border-color);
    width:  .9rem;
    height: .9rem;
}

.checkbox-label{
    font-size: .75rem;
    color: var(--label-color);
    font-weight: 400;
    font-family: Inter;
}


  
  