@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --content-color: #ffffff;
}

.left-line{
    opacity: 1;
    width: .25rem;
    height: 6rem;
}

.event-text{
    padding-left: .5rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.title-event,
.time-event{
    position: absolute;
    font-size: .75rem;
    font-family: Inter;
    color: var(--content-color);
    font-weight: 400;
}

.title-event{
    margin-top: .5rem;
}

.time-event{
    margin-top: 1.5rem;
}
